*{
    padding: 0;
    margin: 0;
}

.heading{
    background-color:blue ;
    text-align: center;
    padding: 5px;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
}

.choices{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
    /* background-color: grey; */
}

img{
    height: 250px;
    width: 250px;
    border: 1px solid grey;
    border-radius: 50%;
    object-fit: contain;
}

img:hover{
    border-color: black;
    scale: calc(103%);
    cursor: pointer;
}
.score{
    text-align: center;
    gap: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#user_score, #computer_score, #draw_score{
    font-size: 5rem;
}
.user_score, .computer_score, .draw{
    font-size: 2rem;
}

.result{
    text-align: center;
    margin: 50px 0;
}
#result{
    padding:0 20px;
    border-radius: 50px;
    font-size: larger;
    background-color: black;
    color: aliceblue;
    display: inline ;
}

/* responsive layout */
@media (max-width: 768px) {
    .heading {
        font-size: 1.5rem;
        padding: 10px;
    }
    .choices {
        gap: 20px;
        margin-top: 50px;
    }
    img {
        width: 150px;
        height: 150px;
    }
    .score {
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    #user_score, #computer_score {
        font-size: 3rem;
    }
    .user_score, .computer_score {
        font-size: 1.5rem;
    }
    .result {
        margin-top: 50px;
    }
}
@media (max-width: 480px) {
    img {
        width: 120px;
        height: 120px;
    }
    #user_score, #computer_score {
        font-size: 2.5rem;
    }
    .user_score, .computer_score {
        font-size: 1.25rem;
    }
}

.reset{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 100px;
}
#reset{
    padding: 5px 10px;
    background-color: blue;
    cursor: pointer;
    color: aliceblue;
    border: 1px solid grey;
    border-radius: 50px;

}