*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 600px;
    margin:auto;
    background-color: cadetblue;
    margin-top: 50px;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0,0,0, 0.5);
}

h1, h2 {
  text-align: center;
  color:rgb(3, 30, 49);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

input{
    font-size: 16px;
    padding: 10px;
    border-radius: 1rem;
    border: 1px solid #cbd5e1;
    text-align: center;
}

button{
    padding: 10px;
    background: #2563eb;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background: #1d4ed8;
    transform-origin: top;
    transform: scale(1.02);
}

#empList li{
    padding: 12px;
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.deleteBtn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.deleteBtn:hover {
  background: #dc2626;
}